#gameCanvas {
  box-shadow: 10px 10px 20px black;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(5deg, rgb(18, 59, 121) 0%, rgb(21, 201, 90) 40%);
}
